.AboutUs{
  color: white;
  background: linear-gradient(to bottom, rgba(99, 99, 99, 0.55), rgba(99,99,99, 0.55)), url("../images//landingPicture.jpeg") no-repeat center;
  background-size: cover;
  display: flex;
  padding: 50px 0 50px 0;
  margin-bottom: -70px;
}
.card-text{
  color: black;
}
.card-container{
  border: none;
  background: none;
  padding: 20px 0 20px 0;

}
.text-about-us{
  padding: 20px;
}
.aboutUs-container{
  background: none;
}
