.links-container{
  padding: 40px 10px 40px 10px;
  background-color: #404040;

}

.social-media{
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
}

.social-media-links{
  text-decoration: none;
  color: white;
  
}

.social-media-links:hover{
text-decoration: underline;
}
.link{
  margin: 10px 0 10px 0;
}


.copyright-text{
  padding-top: 10px;
  color: white;
  margin: -10px;
}