.App{
  background-color: none !important;
  color: black; /* All Text is white */
  height: 100vh;
}

html, body { 
  overflow-x: hidden; 
}

.no-margin-container{
  padding:0 !important;
}

.padding-below-Navbar{
  padding: 30px;
  background-color: #bab8b8;
}

.waveSeparator{
  margin-top: -70px;
}